<section class="">
<footer class="footer footer-copyright text-center">
    <div>
        <p class="footer__made">© 2023 Hatim M, Developpeur Web Junior.<a href="https://www.studi.com/fr">Studi School</a></p>
    </div>
    </footer> 
</section>