{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}


{% block body %}
	<div class="container mt-5">
		<div class="jumbotron">
			<h1 class="display-4 tt">Bienvenue chez les X-Men</h1>
			<p class="lead">La fondation X-Men une application qui va te permettre de retrouver tous nos super-héros sur le terrain</p>
			<hr class="my-4">

			<div class="list-group">
                <p class="lead">Consulter nos missions :</p>
				<a href="#" class="list-group-item list-group-item-action active">Cras justo odio</a>
				<a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
				<a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
			</div>

			
		</div>
	</div>
{% endblock %}
