/*
*
** ......../ Footer /.......... *
*
*/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

}

.footer {
  
    background-color: var(--color-black);
    color: white;
    border: none;
    border-top: 1px solid var(--bs-blue);
    font-size: 0.8rem;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    /*position:fixed;*/
    width: 100%; 
    bottom: 0; left: 0; right: 0;
    max-height: 50px;
  }

  footer a {
    color : white;
  }

  .footer__made a{
    margin-left: 10px;
  }
  
  /* ......../ media query /.......... */
  @media screen and (min-width: 768px) {
  
    .footer {
      font-size: 15px;
      max-height: 50px;
    }
  }
  
/*
*
** ......../ Selecteur-champ /.......... *
*
*/
.select2-results__options {

  color: black;
}

.select2 {

  color: black;
}



.container {

 
  /*padding-bottom: 80px;*/
}


