{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- modifification du mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Formulaire de modifification du mot de passe</h1>
		<div class="row g-3">
        	{% for message in app.flashes('danger') %}
        		<div class="alert alert-danger mt-3">
        		{{ message }}</div>
    		{% endfor %}
        

			{{ form(form) }}

		</div>
	</div>
{% endblock %}