<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="La fondation X-Men est une application qui va te permettre de retrouver tous nos super-héros sur le terrain">

		<title>
			{% block title %}X-Men{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="{{ asset('/asset/images/icon.png') }}"/>
		{% block stylesheets %}

		<!-- Start : Import Bootstrap-->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/darkly/bootstrap.min.css">
		<!-- End : Import Bootstrap-->

		<!-- Start : Import select2 Multiselect -->
			<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<!-- End : Import select2 Multiselect-->

		<!-- Start : Style css-->
			<link href="{{ asset('/asset/styles.css') }}" rel="stylesheet"/>
		<!-- End : Import Style css-->
		
		{% endblock %}
	</head>

	<body>
		{% block header %}
			{% include "partials/_header.html.twig" %}
		{% endblock %}

		{% block body %}
		{% endblock %}

		{% block footer %}
			{% include "partials/_footer.html.twig" %}
		{% endblock %}
	</body>
    
		{% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" 
			 integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
			<script src="{{ asset('/asset/script/form.js') }}"></script>
		{% endblock %}
</html>
