<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="La fondation X-Men une application qui va te permettre de retrouver tous nos super-héros sur le terrain">

		<title>
			{% block title %}X-Men{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="{{ asset('images/icon.png') }}"/>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/darkly/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/darkly/_variables.scss">
			<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
			<link href="{{ asset('/assets/styles.css') }}" rel="stylesheet"/>
		{% endblock %}
	</head>

	<body>
		{% block header %}
			{% include "partials/_header.html.twig" %}
		{% endblock %}

		{% block body %}
		{% endblock %}

		{% block footer %}
			{% include "partials/_footer.html.twig" %}
		{% endblock %}
	</body>
    
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
			<script src="{{ asset('assets/script.js') }}"></script>
		{% endblock %}
</html>
